<section id="generate_error" class="container section">
    <div class="container section">
        <h2>Retry</h1>
        <h5>The link was not able to be converted into a qrcode</h5>
    </div>
    <div class="container section">
        <h4>Reasons Maybe</h4>
        <ul>
            <li><h6>No Internet Connection</h6></li>
            <li><h6>Refresh Page</h6></li>
            <li><h6>Invalid URL</h6></li>
            <li><h6>Unrecognised Character Recognised</h6></li>
            <li><h6>Or Server down</h6></li>
        </ul>
    </div>
</section>