<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Loading Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    

    <!-- Loading Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Loading Materialize Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">     

    <!-- Loading Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Tab Decoration -->
    <link rel="icon" href="{{ url_for('static', filename='images/alacritty.png') }}" type="image/png">
    <title>QRG</title>
</head>
<body>


    {% block body %}
    {% endblock body %}


    <!-- Loading Materialize JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
